{{#if loggedIn}}
<section class="music">
    <!--image-->
    <!--play small demo-->
    <h3>Song title:{{title}}</h3>
    <h4>Artist:{{artist}}</h4>
    <h4>Genre:{{category}}</h4>
    <p>Released:{{release_date}}</p>
    <!--double-check info-->
</section>