.container {
  width: 100%;
  height: 100vh;
  /*background-image: url("/images/books-movies-music (1).jpg"); */
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
body{
  background-image: url("/images/books-movies-music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

h1{
  background-color: royalblue; 
}

.header {
  height: 15%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(rgb(0, 162, 255), rgb(0, 87, 128), rgba(0, 0, 255, 0.561));

}


.navbar {
  text-align: center;
  flex: 1;
  
}

nav{
 /* position: relative;
  left: 25%;*/
  justify-content: space-around;
  background-color: royalblue;
}

a{
  list-style: none;
  text-decoration: black;
  color: #000;
  padding-left: 1rem;

}
a:hover{
  color: bisque;
}



.navbar a {
  padding: 6px 20px;
  text-decoration: black;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.btn {
  cursor: pointer;
  color: deeppink;
  font-size: medium;
  letter-spacing: 2px;
  padding: 10px 30px;
  border: solid #003333;
  background: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  margin: 40px 8px;
}
#bmm{
  height: max-content;
}

.btn a:visted {
  background-color: #fff;
  color: #cc0052
}

.btn:hover {
  color: #000;
  background-color: #fff color #cc0052
}

.btn a:link {
  color: #000 background-color #fff;
  text-decoration: none
}

.content {
  text-align: center;
  margin-top: 12%;
}

.content h1 {
  font-size: medium;
  color: whitesmoke;
}

h1{
  text-align: center;
}

h3{
  justify-content: center;
}
nav{
  text-align: center;
}

a{
  justify-content: space-between;
}

footer{
  justify-content: center;
  background-color: royalblue;
  position: absolute;
  left: 35%;
  top: 100%;
  }

  p{
    justify-content: center;
    padding: 10px 50px;
  }
.login-footer{
  padding-left: 5px;
  margin: 0;
  text-decoration: none;
}
.login-card{
  position: relative;
  left: 4.7rem;
  top: 8.7rem;
}
.login-title{
  position: relative;
  left: 6rem;
}
.signup-card{
  position: relative;
  right: 5.5rem ;
  top: 6rem;
}
.signup-title{
  position: relative;
  left: 4.5rem;
}



